body {
  /* background-color: antiquewhite; */
  width: 230px;
  height: 490px;
  margin: 0 auto;
  padding: 50px 20px;
}

.profile {
  font-weight: bold;
  text-align: center;
}


.input {
  border-top : none;
}


.img-modi {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 30px
}

.profile-img {
  border-radius: 50%;
}

.file-select {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
}

label {
  /* display: inline-block; */
  margin: 0 auto !important; 
  
}

input {
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.start {
  background-color: #A5332F;
  border-radius: 44px;
  width: 100%;
  padding: 10px 0;
}